main {
  min-height: 775px;
}

.main-frame {
  margin: 0 auto; /* Canh giữa frame */
  width: 80%; /* Độ rộng của frame (tùy chỉnh theo nhu cầu) */
  background-color: #f0f0f0; /* Màu nền của frame */
  padding: 20px; /* Khoảng cách bên trong frame */
}
